
<div class="position-absolute top-50 start-50 translate-middle bg-primary text-white text-center rounded p-2">
<h1>Calculadora IMC</h1>
  <form>
    <h3>Digite a Altura</h3>
    <input class="rounded border border-0"  id="altura" type="number" [(ngModel)]="altura" name="altura"/>
    <h3>Digite o Peso</h3>
    <input class="rounded border border-0"  id="peso" type="number" [(ngModel)]="peso" name="peso" />
<h3>Selecione seu sexo</h3>
    <select class="rounded" id="sexo" [(ngModel)]="sexo" name="sexo">
      <option value="nada">Selecione seu sexo</option>
      <option value="mulher">Mulher</option>
      <option value="homem">Homem</option>
    </select>
  </form>


  <button class="btn btn-primary m-1" (click)="calcularIMC()">Calcular IMC</button>
  <div>
    <input id="resultado" type="number" disabled [(ngModel)]="resultado"/>
    <input id="situacao" type="text" disabled  [(ngModel)]="situacao"/>
  </div>
</div>
